absl-py==0.10.0
astor==0.8.1
certifi==2020.6.20
gast==0.2.2
google-pasta==0.2.0
grpcio==1.33.1
h5py==2.10.0
importlib-metadata==2.0.0
joblib==0.17.0
Keras==2.3.1
Keras-Applications==1.0.8
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-rectified-adam==0.17.0
keras-self-attention==0.46.0
keras-transformer==0.38.0
Markdown==3.3.3
numpy==1.19.2
opt-einsum==3.3.0
pandas==1.1.2
protobuf==3.13.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.22.2
scipy==1.5.3
six==1.15.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
tqdm==4.51.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.0
